altgraph==0.17.3 ; python_version >= "3.8" and python_version < "3.11"
appdirs==1.4.4 ; python_version >= "3.8" and python_version < "3.11"
atomicwrites==1.4.1 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32"
attrs==23.1.0 ; python_version >= "3.8" and python_version < "3.11"
black==23.9.1 ; python_version >= "3.8" and python_version < "3.11"
brotli==1.1.0 ; python_version >= "3.8" and python_version < "3.11" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_version >= "3.8" and python_version < "3.11" and platform_python_implementation == "PyPy"
certifi==2023.7.22 ; python_version >= "3.8" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.11" and platform_python_implementation == "PyPy"
charset-normalizer==3.2.0 ; python_version >= "3.8" and python_version < "3.11"
click==8.1.7 ; python_version >= "3.8" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.11" and (sys_platform == "win32" or platform_system == "Windows")
cssutils==2.7.1 ; python_version >= "3.8" and python_version < "3.11"
flake8==5.0.4 ; python_version >= "3.8" and python_version < "3.11"
idna==3.4 ; python_version >= "3.8" and python_version < "3.11"
inflate64==0.3.1 ; python_version >= "3.8" and python_version < "3.11"
iniparse==0.5 ; python_version >= "3.8" and python_version < "3.11"
loguru==0.7.2 ; python_version >= "3.8" and python_version < "3.11"
macholib==1.16.2 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "darwin"
mccabe==0.7.0 ; python_version >= "3.8" and python_version < "3.11"
more-itertools==10.1.0 ; python_version >= "3.8" and python_version < "3.11"
multivolumefile==0.2.3 ; python_version >= "3.8" and python_version < "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
packaging==23.1 ; python_version >= "3.8" and python_version < "3.11"
pathspec==0.11.2 ; python_version >= "3.8" and python_version < "3.11"
pefile==2023.2.7 ; python_version >= "3.8" and python_version < "3.11"
platformdirs==3.10.0 ; python_version >= "3.8" and python_version < "3.11"
pluggy==0.13.1 ; python_version >= "3.8" and python_version < "3.11"
psutil==5.9.5 ; python_version >= "3.8" and python_version < "3.11" and sys_platform != "cygwin"
py7zr==0.20.6 ; python_version >= "3.8" and python_version < "3.11"
py==1.11.0 ; python_version >= "3.8" and python_version < "3.11"
pybcj==1.0.1 ; python_version >= "3.8" and python_version < "3.11"
pycodestyle==2.9.1 ; python_version >= "3.8" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.11" and platform_python_implementation == "PyPy"
pycryptodomex==3.19.0 ; python_version >= "3.8" and python_version < "3.11"
pyflakes==2.5.0 ; python_version >= "3.8" and python_version < "3.11"
pyinstaller-hooks-contrib==2023.8 ; python_version >= "3.8" and python_version < "3.11"
pyinstaller==5.13.2 ; python_version >= "3.8" and python_version < "3.11"
pyppmd==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
pyside2==5.15.2.1 ; python_version >= "3.8" and python_version < "3.11"
pysimpleguiqt==0.35.0 ; python_version >= "3.8" and python_version < "3.11"
pytest==5.4.3 ; python_version >= "3.8" and python_version < "3.11"
pywin32-ctypes==0.2.2 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32"
pyzstd==0.15.9 ; python_version >= "3.8" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.11"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.8"
ruamel-yaml==0.17.32 ; python_version >= "3.8" and python_version < "3.11"
setuptools==68.2.2 ; python_version >= "3.8" and python_version < "3.11"
shiboken2==5.15.2.1 ; python_version >= "3.8" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.11"
texttable==1.6.7 ; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.8" and python_version < "3.11"
urllib3==2.0.4 ; python_version >= "3.8" and python_version < "3.11"
wcwidth==0.2.6 ; python_version >= "3.8" and python_version < "3.11"
win32-setctime==1.1.0 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32"
