appdirs==1.4.4 ; python_version >= "3.8" and python_version < "3.11"
brotli==1.2.0 ; python_version >= "3.8" and python_version < "3.11" and platform_python_implementation == "CPython"
brotlicffi==1.2.0.0 ; python_version >= "3.8" and python_version < "3.11" and platform_python_implementation == "PyPy"
certifi==2025.11.12 ; python_version >= "3.8" and python_version < "3.11"
cffi==1.17.1 ; python_version >= "3.8" and python_version < "3.11" and platform_python_implementation == "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.8" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32"
cssutils==2.11.1 ; python_version >= "3.8" and python_version < "3.11"
idna==3.11 ; python_version >= "3.8" and python_version < "3.11"
inflate64==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
iniparse==0.5 ; python_version >= "3.8" and python_version < "3.11"
loguru==0.7.3 ; python_version >= "3.8" and python_version < "3.11"
more-itertools==10.5.0 ; python_version >= "3.8" and python_version < "3.11"
multivolumefile==0.2.3 ; python_version >= "3.8" and python_version < "3.11"
packaging==25.0 ; python_version >= "3.8" and python_version < "3.11"
pefile==2024.8.26 ; python_version >= "3.8" and python_version < "3.11"
psutil==7.2.1 ; python_version >= "3.8" and python_version < "3.11" and sys_platform != "cygwin"
py7zr==0.22.0 ; python_version >= "3.8" and python_version < "3.11"
pybcj==1.0.2 ; python_version >= "3.8" and python_version < "3.11"
pycparser==2.23 ; python_version >= "3.8" and python_version < "3.11" and platform_python_implementation == "PyPy"
pycryptodomex==3.23.0 ; python_version >= "3.8" and python_version < "3.11"
pyppmd==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
pyside2==5.15.2.1 ; python_version >= "3.8" and python_version < "3.11"
pysimpleguiqt==0.35.0 ; python_version >= "3.8" and python_version < "3.11"
pyzstd==0.18.0 ; python_version >= "3.8" and python_version < "3.11"
requests==2.32.4 ; python_version >= "3.8" and python_version < "3.11"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.8"
ruamel-yaml==0.18.16 ; python_version >= "3.8" and python_version < "3.11"
shiboken2==5.15.2.1 ; python_version >= "3.8" and python_version < "3.11"
six==1.17.0 ; python_version >= "3.8" and python_version < "3.11"
texttable==1.7.0 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.13.2 ; python_version >= "3.8" and python_version < "3.11"
urllib3==2.2.3 ; python_version >= "3.8" and python_version < "3.11"
win32-setctime==1.2.0 ; python_version >= "3.8" and python_version < "3.11" and sys_platform == "win32"
