appdirs==1.4.4 ; python_version >= "3.8" and python_version < "3.14"
brotli==1.2.0 ; python_version >= "3.8" and python_version < "3.14" and platform_python_implementation == "CPython"
brotlicffi==1.2.0.0 ; python_version >= "3.8" and python_version < "3.14" and platform_python_implementation == "PyPy"
certifi==2025.11.12 ; python_version >= "3.8" and python_version < "3.14"
cffi==1.17.1 ; python_version >= "3.8" and python_version < "3.9" and platform_python_implementation == "PyPy"
cffi==2.0.0 ; python_version >= "3.9" and python_version < "3.14" and platform_python_implementation == "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.8" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.14" and sys_platform == "win32"
cssutils==2.11.1 ; python_version >= "3.8" and python_version < "3.14"
idna==3.11 ; python_version >= "3.8" and python_version < "3.14"
inflate64==1.0.0 ; python_version >= "3.8" and python_version < "3.14"
iniparse==0.5 ; python_version >= "3.8" and python_version < "3.14"
loguru==0.7.3 ; python_version >= "3.8" and python_version < "3.14"
more-itertools==10.5.0 ; python_version >= "3.8" and python_version < "3.14"
multivolumefile==0.2.3 ; python_version >= "3.8" and python_version < "3.14"
packaging==25.0 ; python_version >= "3.8" and python_version < "3.14"
pefile==2024.8.26 ; python_version >= "3.8" and python_version < "3.14"
psutil==7.2.1 ; python_version >= "3.8" and python_version < "3.14" and sys_platform != "cygwin"
py7zr==0.22.0 ; python_version >= "3.8" and python_version < "3.14"
pybcj==1.0.2 ; python_version >= "3.8" and python_version < "3.14"
pycparser==2.23 ; python_version >= "3.8" and python_version < "3.14" and platform_python_implementation == "PyPy" and (implementation_name != "PyPy" or python_version < "3.9")
pycryptodomex==3.23.0 ; python_version >= "3.8" and python_version < "3.14"
pyppmd==1.1.0 ; python_version >= "3.8" and python_version < "3.14"
pyside2==5.13.2 ; python_version >= "3.8" and python_version < "3.14"
pysimpleguiqt==0.35.0 ; python_version >= "3.8" and python_version < "3.14"
pyzstd==0.18.0 ; python_version >= "3.8" and python_version < "3.14"
requests==2.32.4 ; python_version >= "3.8" and python_version < "3.14"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.14" and python_version >= "3.8"
ruamel-yaml==0.18.16 ; python_version >= "3.8" and python_version < "3.14"
shiboken2==5.13.2 ; python_version >= "3.8" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.8" and python_version < "3.14"
texttable==1.7.0 ; python_version >= "3.8" and python_version < "3.14"
typing-extensions==4.13.2 ; python_version >= "3.8" and python_version < "3.13"
urllib3==2.2.3 ; python_version >= "3.8" and python_version < "3.14"
win32-setctime==1.2.0 ; python_version >= "3.8" and python_version < "3.14" and sys_platform == "win32"
